.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode .navbar {
    background-color: #1f1f1f;
}

.dark-mode .card {
    background-color: #1e1e1e;
    border-color: #333333;
    color: #ffffffd4;
}

.dark-mode .btn-dark {
    background-color: #333333;
}

.dark-mode a.nav-link {
    color: #ffffff;
}

.dark-mode .card-title,
.dark-mode .card-text {
    color: #ffffff;
}

.dark-mode .btn-dark:hover {
    background-color: #555555;
}

body,
.navbar,
.card,
.btn-dark,
a.nav-link,
.card-title,
.card-text {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.footer-link {
    text-decoration: none;
    color: #b1b1b1
}

.footer-link:hover {
    text-decoration: underline;
}

.dark-mode .footer-link {
    color: #555555;
}

.footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.dark-mode .footer .text-muted {
    color: #555555;
}

.lead {
    white-space: pre-line;
}

.link {
    color: #121212;
}

.store-logo {
    display: block;
    margin-left: auto;
    margin-right: 0;
}

.card-img-wrapper {
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.drink-hero-img {
    max-height: 250px;
    width: auto;
    object-fit: contain;
    padding-top: 50px;
}

.store-logo-badge {
    position: absolute;
    top: 12px;
    left: 12px;
    max-height: 56px;
    max-width: 64px;
    padding: 5px 5px;
}


@media (max-width: 720px) {
    #zeroModeToggle {
        background-color: black;
        color: #ffffffd4;
    }

    .navbar-brand.d-lg-none {
        margin-left: 0;
    }

    .navbar-toggler,
    .navbar-brand.d-lg-none {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 720px) {
    #zeroModeToggle {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        background-color: black;
        color: #ffffffd4;
    }
}

.navbar-brand img {
    width: 30px;
    height: 30px;
}

.drink-card {
    border: none !important;
    background-color: #EFEFEF;
    transition: background-color 0.2s ease, transform 0.2s ease;
    border-radius: 6%;
}

.drink-card:hover {
    transform: translateY(-2px);
}

body.dark-mode .drink-card {
    background-color: #212529;
}

.drink-card-header .card-title {
    font-size: 1.25rem;
    font-weight: 550;
}

.drink-price {
    font-size: 1.2rem;
    color: #c1121f;
    font-weight: 700;
    display: block;
}

.drink-amount {
    font-size: 1.05em;
    color: #6c757d;
}

.drink-card-header {
    padding: 2% 2% 1%;
}

body.dark-mode .drink-card-header .card-title,
body.dark-mode .drink-amount {
    color: #f8f9fa;
}

body.dark-mode .drink-price {
    color: #ff7b7b;
}

.store-logo-row {
    display: flex;
    align-items: center;
}