html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode .navbar {
    background-color: #1f1f1f;
}

.dark-mode .card {
    background-color: #1e1e1e;
    border-color: #333333;
    color: #ffffffd4;
}

.dark-mode .btn-dark {
    background-color: #333333;
}

.dark-mode a.nav-link {
    color: #ffffff;
}

.dark-mode .card-title,
.dark-mode .card-text {
    color: #ffffff;
}

.dark-mode .btn-dark:hover {
    background-color: #555555;
}

body,
.navbar,
.card,
.btn-dark,
a.nav-link,
.card-title,
.card-text {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.footer-link {
    text-decoration: none;
    color: #b1b1b1;
    font-size: 18px;
}

.nav-link {
    font-size: 18px !important;
}

.footer-link:hover {
    text-decoration: underline;
}

.dark-mode .footer-link {
    color: #555555;
}

.footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.dark-mode .footer .text-muted {
    color: #555555;
}

.lead {
    white-space: pre-line;
}

.link {
    color: #121212;
}

.store-logo {
    display: block;
    margin-left: auto;
    margin-right: 0;
}

.zero-mode-toggle {
    font-size: 18px !important;
}

.card-img-wrapper {
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.drink-hero-img {
    max-height: 250px;
    width: auto;
    object-fit: contain;
    padding-top: 60px;
}

.store-logo-badge {
    position: absolute;
    top: 12px;
    left: 12px;
    height: 50px;
    width: auto;
    padding: 5px 5px;
}


@media (max-width: 720px) {
    #zero-mode-toggle {
        background-color: black;
        color: #ffffffd4;
        font-size: 20px;
        display: block;
        align-self: center !important;
        position: relative;
    }

    .navbar-brand.d-lg-none {
        margin-left: 0;
    }

    .navbar-toggler,
    .navbar-brand.d-lg-none {
        margin-bottom: 0;
    }

    .store-logo-badge {
        left: 6px !important;
        height: 45px;
    }

    .text-container {
        margin: 2pt 2pt 1pt !important;
    }

    .drink-card-header .drink-price {
        font-size: 17px !important;
    }

    .drink-card-header .card-title {
        font-size: 17px !important;
    }

    .nav-link {
        padding: 14px 0px;
        font-size: 20px;
    }



    .button.navbar-toggler {
        padding-bottom: 10px !important;
    }
}

@media screen and (min-width: 720px) {
    .navbar-brand img {
        width: 40px !important;
        height: 40px !important;
    }


    #zero-mode-toggle {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        background-color: black;
        color: #ffffffd4;
    }
}

.navbar-brand img {
    width: 30px;
    height: 30px;
}

.drink-card {
    border: none !important;
    background-color: #EFEFEF;
    transition: background-color 0.2s ease, transform 0.2s ease;
    border-radius: 20px / 20px;
}

.drink-card:hover {
    transform: translateY(-2px);
}

body.dark-mode .drink-card {
    background-color: #21252987;
}

.drink-card-header .card-title {
    font-size: 20px;
    font-weight: 500;
}

.drink-price {
    font-size: 20px;
    color: #c1121f;
    font-weight: 550;
    text-align: right;
}

.drink-amount {
    font-size: 1.05em;
    color: #6c757d;
}

body.dark-mode .drink-card-header .card-title,
body.dark-mode .drink-amount {
    color: #f8f9fa;
}

body.dark-mode .drink-price {
    color: #ff7b7b;
}

.store-logo-row {
    display: flex;
    align-items: center;
}

.text-container {
    margin: 6pt 6pt 3pt;
}

.container {
    flex: 1;
}

.footer {
    margin-top: auto;
}