{% extends "base.html" %}

{% block content %}
<section class="py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="text-center">
          <h2 class="display-5 fw-bold">About</h2>
          <span class="text-muted">Why did I make this?</span>
          <p class="lead">
            Hi!
            When I started learning programming my caffeine addiction noticably intensified, and because Im a student I
            want to save money that.
            So, I the great idea to make this, and started (yes, with python for basically everything since that's what
            I started with!)

            Due to the annoying discount practices of retailers, the 'normal' price of things is always a sale of some
            kind,
            so the idea is to help out other caffeine enthusiasts save some Kč.

            you can checkthe code out <a href="https://github.com/pointandlaugheveryone/caffeinate"
              class="link">here</a>! No database URL (anymore), sorry!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}