{% extends "base.html" %}

{% block content %}
<section class="py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="text-center">
          <h2 class="display-5 fw-bold">About</h2>
          <span class="text-muted">Why did I make this?</span>
          <p class="lead">
            Hi! I made this when learning programming - which kind of intensified a caffeine addiction.
            So, I got an idea to make this.
            Due to the annoying discount practices of retailers, the 'normal' price that you buy things under is always
            some discount, so I created this website to help myself and other caffeine enjoyers out.

            I kid of never did web dev before this project, which is why I decided to realise this idea (in python,
            yeah)
            the code is probably not very good, but you can check it out <a
              href="https://github.com/pointandlaugheveryone/caffeinate" class="link">here</a>!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}