{% extends "base.html" %}

{% block content %}
<section class="py-5">
  <div class="container">
  	<div class="row justify-content-center">
      <div class="col-md-8">
        <div class="text-center">
          <h2 class="display-5 fw-bold">About</h2>
          <span class="text-muted">Why did I make this?</span>
          <p class="lead">
            Hi! I made this when learning programming. 
            So I obviously worsened my caffeine addiction, which gave me an idea.
            Due to the annoying discount practices of retailers, the 'normal' price that you buy things under is always some discount, so I created this website to help myself and friends who also like caffeine out.
            
            ...I never did web dev before this project, so I decided to learn how its like (in python, yeah) by creating this idea, the code is probably not very good, but you can check it out <a href="https://github.com/pointandlaugheveryone/caffeinate" class="link">here</a>!
            Its not finished of course 
          </p>
        </div>
      </div>
	</div>
  </div>
</section>
{% endblock %}