<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zero Mode</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
{% extends "./base.html" %}

{% block body_class %}dark-mode{% endblock %}

{% block content %}
<div class="row row-cols-2 row-cols-md-3 g-4">
    {% for drink in drinks %}
        {% set dark_mode = true %}
        {% include "drink_card.html" %}
    {% endfor %}
</div>
{% endblock %}
</html>

